  <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="#" class="site_title">
                <img src="{{ asset('logo.png') }}" alt="..." class="cuader">
                 <span class="titlepage">Caja Petrolera de Salud</span></a>
            </div>

            <div class="clearfix"></div>
            <div class="profile">
              <div class="profile_pic">
                <img src="{{ asset('foto.png') }}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenida, {{ app.user}}</span>
                <h2></h2>
              </div>
            </div>
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Unidad Tegnologica Informatica</h3>
                <ul class="nav side-menu">
                  {#--------------------------------------COMPROBANTE------------------------------------------#}
                  <li><a><i class="fa fa-file-text-o" aria-hidden="true"></i>
                        Hoja de Ruta<span class="fa fa-chevron-down"></span>
                      </a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('solicitud_index')}}">Solicitud Pendiente</a></li>
                      <li><a href="{{path('solicitud_proceso')}}">Solicitud en Proceso</a></li>
                      <li><a href="{{path('solicitud_realizado')}}">Solicitud Realizada</a></li>

                    </ul>
                  </li>
                  {#--------------------------------------reporte------------------------------------------#}
                  <li><a><i class="fa fa-pie-chart" aria-hidden="true"></i>
                       Reportes<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{path('reporte')}}">Por Remitente</a></li>
                    </ul>
                  </li>
                  {#--------------------------------------BENEFICIARIO------------------------------------------#}
                  <li><a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Personal<span class="fa fa-chevron-down"></span>
                      </a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('personal_index')}}">Lista del Personal</a></li>
                    </ul>
                  </li>
                  </ul>
              </div>
         </div>
    </div>
</div>
